/* --------------- BASICS --------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: impact;
    color: #4F4E4E;
    background-color: rgb(226, 176, 170);
}

button {
    cursor: pointer;
}
p{
    font-size: 1.5rem;
    line-height: 1.5rem;
}
a {
    text-decoration: none;
}

header {
    display: flex;
    max-height: 70px;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 50px;
    border: solid 2px black;
    background-color: rgb(141, 187, 110);
}

header a {
    font-size: 1.5rem;
    color: chocolate;
}

header a:hover {
    color: rgb(20, 100, 220);
}

.wrapper {
    min-height: calc(100vh - 50px);
}

footer {
    margin-top: 2rem;
    background-color: rgb(209, 154, 114);
    color: bisque;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

footer>h3,  footer>.logo-img{
    align-self: flex-end;
    margin: 10px;
}

header img, footer img {
    max-width: 100px;
    object-fit: contain;
}

a img {
    width: 2rem;
}

/* -------------------------------------- */

/* --------------- ELEMENTS --------------- */

#about {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}


.container {
    background-color: rgb(211, 149, 105);
    width: 90vw;
    height: auto;
    margin: 2rem auto;
    border-radius: 1rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1.5rem;
    justify-items: center;
}

.gallery-item {
    max-width: 200px;
    max-height: 200px;
}

.gallery-img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.gallery-img:hover {
    cursor: pointer;
    opacity: 1;
}

.my-pic {
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    max-width: 200px;
}

/* ---------------------------------------- */