/* --------------- BASICS --------------- */

button img, label img {
    width: 2rem;
}

label {
    width: fit-content;
}

select, option {
    font-size: 1.3rem;
    width: 6rem;
}

input {
    font-size: 1.3rem;
}

canvas {
    width: 500px;
    height: 500px;
    border: rgb(0, 0, 0, 0.3) dashed 3px;
    background-color: #cfcabd;
    margin: 0 auto;
}

/* -------------------------------------- */

/* --------------- ELEMENTS --------------- */

.meme-editor-section {
    width: 90vw;
    margin: 3vh auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2vh 0;
    background-color: rgba(80, 135, 199, 0.5);
}

.canvas-container {
    height: 500px;
}

.meme-editor-menu {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 80px));
    grid-template-rows: repeat(6, minmax(50px, 70px));
    justify-items: center;
    align-self: center;
}

.meme-editor-menu>* {
    opacity: 0.7;
    align-self: center;
    font-size: 1.2rem;
}

.meme-editor-menu>*:hover {
    opacity: 1;
    transition: .3s;
    cursor: pointer;
}

#text-line {
    grid-row: 1;
    grid-column: 1/ span 3;
}

#font-change {
    width: 80px
}

#fill-color, #text-color {
    width: 0px;
    border: 0;
}

#text-line {
    max-width: 200px;
}

.btn-invisible {
    visibility: hidden;
}

/* ---------------------------------------- */

@media screen and (min-width: 1600px) {
    html {
        font-size: 1.1rem;
    }
    canvas {
        width: 600px;
        height: 600px;
    }
    .canvas-container {
        height: 600px;
    }
}

@media screen and (max-width: 840px) {
    html {
        font-size: 0.9rem;
    }
    .meme-editor-menu {
        grid-template-columns: repeat(5, minmax(48px, 80px));
    }
}

@media screen and (max-width: 725px) {
    html {
        font-size: 0.85rem;
    }
    canvas {
        width: 450px;
        height: 450px;
    }
    .canvas-container {
        height: 450px;
    }
}

@media screen and (max-width: 550px) {
    footer {
        flex-direction: column;
    }
    .meme-editor-menu>*{
        font-size: 1.4rem;
    }
    .meme-editor-menu img{
        width: 48px;
    }
}